.uppercase {
  text-transform: uppercase;
}
* {
    font-family: 'Yellowtail', cursive;
    font-size: x-large;
}
.main-content {
  display: flex;
  flex-direction: row;
}
.shopping-items{
  width: 70%;
}
.shopping-cart {
  width: 30%;
}
.hidden {
  display: none !important;
}
#logo{
  width: 150px;
  height: 150px;
  position: relative;
}

.logo-align {
  display: flex;
  flex-direction: row;

}
.primary-nav {
  display: flex;
  list-style: none;
  width: 100%;
}

nav {
  width: 100%;
}

.nav-list li {
  padding: 30px 60px;
  font-weight: 500;
}
li a {
  color:orange;
}
.secondary-nav {
  display: flex;
  list-style: none;
  justify-content: center;
}
img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}
body{

}
main {
 width: 1230px;
  margin: 0 auto;
}
footer .flexnav {
  display: flex;
  justify-content: center;
  list-style:none;
  padding: 10px 0;
}
footer div {
  text-align: center;
  text-decoration-style: dashed;
  color:black;
}
footer ul li {
  padding: 0 30px;
  list-style: none;
  display: flex;
  justify-content: center;
}
i.wrapper{
  display: flex;
  flex-direction: row;
}
footer ul{
display: flex;
flex-direction: row;
justify-content: center;
}
.fa-stack:hover {
  color:green;
}
.fa {
  font-size: 36px;
}

.info {
  display: flex;
  flex-direction: row;
}
